<dialog id="modal-craft" class="project-modal">
  <div class="modal__header">
    <button onclick="this.closest('dialog').close()" class="modal__close">✕</button>
  </div>

  <div class="modal__body">
    <header class="modal__intro">
      <h1 class="modal__title-block">Craft Worldwide</h1>
      <h3 class="modal__subtitle">Proyecto Tottus | Julio 2023 - Presente</h3>
    </header>

    <section class="modal__section animate-in">
      <div class="section__info">
        <h3>Falabella.com | Tottus</h3>
        <p>Lideré la creación y optimización de piezas digitales para el ecosistema Falabella.com. El enfoque principal fue mantener la coherencia visual de Tottus en la vitrina e-commerce más grande del país, asegurando que cada banner y activo digital cumpla con los estándares de conversión y branding de la marca.</p>
      </div>
      <img src="/assets/Tottus/Portada.png" alt="Preview Tottus" class="img-full">
    </section>

    <section class="modal__section animate-in">
      <div class="section__info">
        <h3>Estrategia de Mailing</h3>
        <p>Diseño y estructuración de Mailings para campañas de fidelización. Mi trabajo consistió en transformar conceptos promocionales complejos en piezas visuales limpias y directas, optimizadas para una lectura rápida y efectiva en diferentes gestores de correo, mejorando el CTR de las campañas de Tottus.</p>
      </div>
      <div class="modal__grid-2">
        <img src="/assets/Tottus/Mail 1.png" alt="Mail 1">
        <img src="/assets/Tottus/Mail 2.png" alt="Mail 2">
      </div>
    </section>

    <section class="modal__section animate-in">
      <div class="section__info">
        <h3>Landings</h3>
        <p>Desarrollo visual de Landing Pages para campañas estacionales. Trabajé en la arquitectura visual para guiar al usuario a través de promociones específicas, asegurando una navegación intuitiva y una estética moderna que refuerza la confianza en la marca Tottus durante procesos de compra críticos.</p>
      </div>
      <img src="/assets/Tottus/Portada 2.png" alt="Landing" class="img-full">
    </section>

    <section class="modal__section animate-in">
      <div class="section__info">
        <h3>Adaptación a Formatos | Campaña Escolar</h3>
        <p>Especialización en la versatilidad de formatos. Durante la campaña escolar, gestioné la adaptación de piezas clave a diversos tamaños digitales, garantizando que el mensaje no perdiera fuerza visual ni jerarquía informativa en dispositivos móviles, donde el espacio es limitado pero el impacto debe ser máximo.</p>
      </div>
      <div class="modal__grid-3">
        <img src="/assets/Tottus/cel1.png" alt="Cel 1">
        <img src="/assets/Tottus/cel2.png" alt="Cel 2">
        <img src="/assets/Tottus/cel3.png" alt="Cel 3">
      </div>
    </section>
  </div>
</dialog>