<section class="skills" id="habilidades">
  <h2 class="skills__title">Tecnologías y Herramientas</h2>
  
  <div class="skills__container">
    <div class="skill-tag">
      <img src="/assets/img/photoshop.png" alt="Photoshop">
      <span>Photoshop</span>
    </div>
    <div class="skill-tag">
      <img src="/assets/img/figma.png" alt="Figma">
      <span>Figma</span>
    </div>
    <div class="skill-tag">
      <img src="/assets/img/ilustrador.png" alt="Illustrator">
      <span>Illustrator</span>
    </div>
    <div class="skill-tag">
      <img src="/assets/img/html-5.png" alt="HTML5">
      <span>HTML5</span>
    </div>
    <div class="skill-tag">
      <img src="/assets/img/js.png" alt="JS">
      <span>JavaScript</span>
    </div>
    <div class="skill-tag">
      <img src="/assets/img/css-3.png" alt="CSS3">
      <span>CSS3</span>
    </div>
    <div class="skill-tag">
      <img src="/assets/img/wordpress.png" alt="WordPress">
      <span>WordPress</span>
    </div>
    <div class="skill-tag">
      <img src="/assets/img/firebase.png" alt="Firebase">
      <span>Firebase</span>
    </div>
    <div class="skill-tag">
      <img src="/assets/img/github.png" alt="Github">
      <span>Github</span>
    </div>
  </div>
</section>