<section class="projects" id="proyectos">
  <h2 class="section-title">Experiencia y Proyectos</h2>
  
  <div class="projects__grid">
    <article class="project-card" onclick="document.getElementById('modal-craft').showModal()">
      <div class="project-card__image">TOTTUS</div>
      <div class="project-card__content">
        <span class="card-badge">Diseñador Web</span>
        <img src="/assets/img/photoshop.png" alt="">
        <img src="/assets/img/ilustrador.png" alt="">
        <img src="/assets/img/figma.png" alt="">
        <h3>Craft Worldwide</h3>
        <p>Diseño de interfaces y maquetación web para el proyecto Tottus.</p>
      </div>
    </article>

    <article class="project-card" onclick="document.getElementById('modal-tres-i').showModal()">
      <div class="project-card__image">TRES - I</div>
      <div class="project-card__content">
        <span class="card-badge">Diseñador Gráfico</span>
        <img src="/assets/img/photoshop.png" alt="">
        <img src="/assets/img/ilustrador.png" alt="">
        <h3>Tres - I</h3>
        <p>Creación y adaptación de piezas visuales para campañas digitales.</p>
      </div>
    </article>

    <article class="project-card" onclick="document.getElementById('modal-adopet').showModal()">
      <div class="project-card__image">ADOPET</div>
      <div class="project-card__content">
        <span class="card-badge">Diseñador UX / UI</span>
        <img src="/assets/img/photoshop.png" alt="">
        <img src="/assets/img/figma.png" alt="">
        <img src="/assets/img/visual.png" alt="">
        <img src="/assets/img/firebase.png" alt="">

        <h3>Adopet</h3>
        <p>Diseño de tienda online y experiencia de compra para dueños de mascotas.</p>
      </div>
    </article>

  </div>


</section>