# Dependencias de Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno / Secretos
.env
.env.local

# Archivos del Sistema / Editores
.DS_Store
.vscode/
.idea/

# Temporales de compilación (si usaras algún bundler luego)
dist/
build/