<dialog id="modal-adopet" class="project-modal">
  <div class="modal__header">
    <button onclick="this.closest('dialog').close()" class="modal__close">✕</button>
  </div>

  <div class="modal__body">
    <header class="modal__intro">
      <h1 class="modal__title-block">ADOPET</h1>
      <h3 class="modal__subtitle">E-commerce y Bienestar Animal</h3>
    </header>

    <section class="modal__section">
      <div class="section__info">
        <h3>ARQUITECTURA DE LA INFORMACION</h3>
        <p>Organización de flujos y navegación lógica de la plataforma.</p>
      </div>
      <img src="/assets/Adopet/arquitectura.png" class="img-full-view" alt="Arquitectura">
    </section>

    <section class="modal__section">
      <div class="section__info">
        <h3>creacion de componente</h3>
        <p>Desarrollo de librerías visuales y elementos reutilizables.</p>
      </div>
      <img src="/assets/Adopet/componnetes.png" class="img-full-view" alt="Componentes">
    </section>

    <section class="modal__section">
      <div class="section__info">
        <h3>creacion de wifrems en baja fidelidad</h3>
        <p>Estructura inicial enfocada en la experiencia de usuario y funcionalidad.</p>
      </div>
      <div class="modal__grid-2">
        <img src="/assets/Adopet/Solicitud de adopción (1).png" class="img-full-view">
        <img src="/assets/Adopet/Solicitud de adopción.png" class="img-full-view">
      </div>
    </section>

    <section class="modal__section">
      <div class="section__info">
        <h3>piezas web</h3>
        <p>Diseño de tarjetas informativas con la identidad visual del proyecto.</p>
      </div>
      <div class="modal__grid-3">
        <img src="/assets/Adopet/cuadro (1).png" class="img-ui-card" alt="Web Piece 1">
        <img src="/assets/Adopet/cuadro (2).png" class="img-ui-card" alt="Web Piece 2">
        <img src="/assets/Adopet/cuadro (3).png" class="img-ui-card" alt="Web Piece 3">
      </div>
    </section>

    <section class="modal__section">
      <div class="section__info">
        <h3>piezas en altafidelidad</h3>
        <p>Acabado final con aplicación de color, tipografía y recursos gráficos.</p>
      </div>
      <div class="alta-fidelidad-flow">
        <img src="/assets/Adopet/CABECERA.png" class="img-full-view">
        <img src="/assets/Adopet/MISION.png" class="img-full-view">
        <img src="/assets/Adopet/VISION.png" class="img-full-view">
        
        <div class="modal__grid-2">
          <img src="/assets/Adopet/Section 2.png" class="img-full-view">
          <img src="/assets/Adopet/Section 4.png" class="img-full-view">
        </div>
      </div>
    </section>
  </div>
</dialog>