<dialog id="modal-cadaken" class="project-modal">
  <div class="modal__header">
    <button onclick="this.closest('dialog').close()" class="modal__close">✕</button>
  </div>

  <div class="modal__body">
    <header class="modal__intro">
      <h1 class="modal__title-block">CADAKEN</h1>
      <h3 class="modal__subtitle">Interfaz UI - Marketplace Estudiantil</h3>
    </header>

    <section class="modal__section">
      <div class="section__info">
        <h3>Concepto</h3>
        <p>Marketplace móvil diseñado para facilitar el intercambio de recursos académicos entre estudiantes, mediante una interfaz moderna, intuitiva y de alto impacto visual.</p>
      </div>

      <div class="modal__grid-display">
        <img src="/assets/Cadaken/Pantalla 1.png" class="img-ui-uniform" alt="Pantalla 1">
        <img src="/assets/Cadaken/Pantalla 2.png" class="img-ui-uniform" alt="Pantalla 2">
        <img src="/assets/Cadaken/Pantalla 3.png" class="img-ui-uniform" alt="Pantalla 3">
        <img src="/assets/Cadaken/Pantalla 6.png" class="img-ui-uniform" alt="Pantalla 6">
        <img src="/assets/Cadaken/Pantalla 7.png" class="img-ui-uniform" alt="Pantalla 7">
        <img src="/assets/Cadaken/Pantalla 10.png" class="img-ui-uniform" alt="Pantalla 10">
        <img src="/assets/Cadaken/Pantalla 10 (1).png" class="img-ui-uniform" alt="Pantalla 10 variante">
        <img src="/assets/Cadaken/Pantalla 12.png" class="img-ui-uniform" alt="Pantalla 12">
        <img src="/assets/Cadaken/Pantalla 13.png" class="img-ui-uniform" alt="Pantalla 13">
        <img src="/assets/Cadaken/Pantalla 14.png" class="img-ui-uniform" alt="Pantalla 14">
      </div>
    </section>
  </div>
</dialog>